.form{
    &__group:not(:last-child){
        margin-bottom: 2rem;
    }
    &__input{
        font-family: inherit;
        color: inherit;
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color: $color-white, $alpha: .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;

        &:focus{
            outline:none;
            box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: .5);
            border-bottom: 3px solid $color-primary;
        }
        &::-webkit-input-placeholder{
            color: $color-gray-dark-2;
        }
        
        &:focus:invalid{
            border-bottom: 3px solid $color-secondary-dark;
        }
    }


    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform:translate(-4rem)
    }
}