.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba($color-black, 0.8);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;

  &__content {
    @include absCenter;

    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s;

    @include respond(tab-port) {
      width: 90%;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      border-radius: 3px;
      display: block;
      overflow: hidden;
    }
  }

  &__left {
    width: 33.33333%;
    display: table-cell;
    vertical-align: middle;

    @include respond(tab-port) {
      width: 100%;
      display: inline-flex;
    }
  }

  &__img {
    display: block;
    width: 100%;
    @include respond(tab-port) {
      width: 50%;
    }
  }

  &__right {
    width: 66.66666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
    @include respond(tab-port) {
      width: 100%;
      display: block;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-gray-light-2;
    hyphens: auto;
    @include respond(tab-port) {
      margin-bottom: 2rem;
      column-count: 1;
      hyphens: auto;
    }
  }

  //Open states
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-gray-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
