.section-about {
  background-color: $color-gray-light;
  margin-top: -20vh;
  padding-bottom: 35vh;
  padding-top: 25vh;
}

.heading-secondary {
  background-color: red;
}

.section-features{
  margin-top: -15vh;
  padding: 20rem 0;
  background-color: $color-gray-light;
  background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/nat-4.jpg);
      background-size: cover;
      transform: skewY(-7deg);
      & > * {
        transform: skewY(7deg);
      }
}

.section-tours{
  background-color: $color-gray-light;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}

.section-stories{
  padding: 15rem 0;
  background-color: $color-gray-light;
}